.front {
  background: black;
  color: #fffffe;
  a {
    color: $primary-color;
    transition: all .2s ease-in-out;
    &:hover {
      text-decoration: none;
    }
  }
  .container {
    @include flex-grid-row;
    @include flex-align($x: justify, $y: middle);
    @include flex-direction(row);
  }

  .main__title {
    display: inline-block;
    font-size: 2.2rem;
    font-weight: bold;
    line-height: 2.2rem;
    .underline-style {
      height: 0.6rem;
      width: 100%;
      margin-top: 0.4rem;
    }
  }
  
  p {
    font-size: 1.8rem;
  }
}
