.front {
  $about-color: #00a8ff;
  .about {
    strong {
      color: $about-color;
    }
  }
  
  .presentation {
    @include grid-column(12);
    @include flex-grid-row;
    @include flex-align($x: justify, $y: top);
    @include flex-direction(row);
    @include xy-grid-collapse;
  }
  .presentation__photo {
    @include grid-column(12);
    text-align: center;
    
    @include breakpoint(medium) {
      @include grid-column(6);
    }
    padding: 0;

    .perspective-card {
      max-width: 325px;
      max-height: 325px;
      margin: auto;
      a {
        outline: 0;
      }
    }
  }
  .tooltip {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
  }
  
  .presentation__text {
    @include grid-column(12);
    @include breakpoint(medium) {
      @include grid-column(6);
    }
    padding: 0;
  }
  .presentation__text__title {
    font-size: 2.6rem;
    margin: 0;
  }
  .presentation__text__subtitle {
    color: $secondary-color;
    display: inline-block;
    font-size: 2rem;
    .underline-style {
      background-image: linear-gradient(to right, rgb(0, 71, 146), rgb(0, 151, 215));
      height: 0.4rem;
      margin-top: 1rem;
      width: 100%;
    }
  }
  .section-title {
    color: $about-color;
    font-size: 2rem;
  }

  .presentation, .experiences, .skills {
    @include margin-bottom;
  }
  .experiences {
    @include grid-column(12);
    dl {
      @include flex;
      @include flex-align($x: justify, $y: top);
      font-size: $body-font-size;
      font-weight: bold;
    }
    dt {
      span {
        font-weight: normal;
      }
    }

    @include breakpoint(medium) {
      @include grid-column(6);
    }
  }
  .skills {
    @include grid-column(12);
    dl {
      margin: 1rem 0;
      font-size: $body-font-size;
    }
    dt{
      font-weight: bold;
      line-height: 1;
    }
    dd {
      display: inline;
      margin-left: 0;
      line-height: 1;
      &:not(:last-child):after {
        content: ', ';
      }
    }

    @include breakpoint(medium) {
      @include grid-column(6);
    }
  }

  .resume {
    @include grid-column(12);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .resume__link {
    text-align: center;
    font-size: 1.8rem;
    
    a {
      display: block;
      border: none;
      height: 3rem;
      line-height: 1;

      .underline-style {
        height: 0.5rem;
        width: 100%;
        margin-top: 0.8rem;
        background-image: linear-gradient(to right, #0060aa, #00d8ff);
        opacity: 0.6;
        filter: alpha(opacity=60); /* For IE8 and earlier */
      }

      &:hover {
        border: none;
        .underline-style {
          margin-top: 0.4rem;
          opacity: 1;
          filter: alpha(opacity=100); /* For IE8 and earlier */
        }
      }
    }
    
  }
}