.front {
  .footer {
    @include flex-grid-row;
    @include flex-align($x: justify, $y: middle);
    @include flex-direction(column);
    @include margin-top;
    
    @include breakpoint(medium) {
      @include flex-direction(row);
    }
  }

  .footer__copyright {
    @include grid-column(12);
    @include breakpoint(medium) {
      @include grid-column(5);
    }
    span {
      font-size: 1.6rem;
      font-weight: bold;
    }
  }

  .footer__links {
    @include grid-column(12);
    @include breakpoint(medium) {
      @include grid-column(7);
    }
  }

  .footer__links__list {
    @include flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    @include breakpoint(medium) {
      justify-content: flex-end;
    }
  }

  .footer__links__list__item {
    @include flex;
    justify-content: flex-end;
  }

  .footer__links__social {
    background: url('/images/socials/sprite-social.png');
    display: inline-block;
    line-height: 1;
    margin: 0.7rem 0.8rem;
    height: 30px;
    text-decoration: none;
    width: 30px;

    img {
      transition: all .2s ease-in-out;
      opacity: 0;
    }
    &:hover {
      transform: rotate(0.1turn);
      img {
        opacity: 1;
      }
    }
  }

  .footer__links__social--linkedin {
    background-position-x: -32px;
  }

  .footer__links__social--github {
    background-position-x: -64px;
  }

  .footer__links__social--instagram {
    background-position-x: -96px;
  }

  .footer__links__social--500px {
    background-position-x: -128px;
  }

  .footer__links__social--flickr {
    background-position-x: -160px;
  }
  
  .footer__links__social--twitter {
    background-position-x: -192px;
  }
}