.front {
  .work-list {
    @include grid-column(12);
  }
  .work-row {
    margin-left: -2rem;
    margin-right: -2rem;
  }
  .work-column {
    margin-bottom: 4rem;
    a {
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 100%;
      color: $primary-color;
      border: none;
      display: flex;  
      opacity: 1;
      padding: 1rem;
      text-align: center;
      text-decoration: none;
      transition: all .4s ease-in-out;
      width: 100%;
      &:hover {
        background-size: 110%;
        border: none;
        opacity: 0.7;
      }
      div {
        align-self: center;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        transition: all .2s ease-in-out;
        h2 {
          font-size: 2.2rem;
          text-transform: uppercase;
          margin: 0.5rem 0;
        }
        h3 {
          font-size: 1.6rem;
          font-weight: normal;
          line-height: 1.2;
          margin: 0;
        }
      }
    }
  }

  .more-clients {
    @include grid-column(12);
    @include margin-vertical;
  }
  .clients-grid {
    @include flex-grid-row;
  }
  .clients-column {
    @include grid-column(12);
    @include breakpoint(medium) {
      @include grid-column(6);
    }
    @include breakpoint(large) {
      @include grid-column(4);
    }
    text-align: center;
    margin: 1rem 0px;
    img {
      width: 80%;
    }
  }
}